<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Survey portal | Survey2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/0ca0033246.js" crossorigin="anonymous"></script>
    </head>
    <style>
        body {
            background-color: #f7f7f7;
        }
        .Header{
            font-family:Garamond;
            text-align:center;
            font-size:39px;
            color:#00607A;
        }
        .Survey1{
            margin-left:-1%;
            margin-right:1%;
            background-color: white;
            align:center;
            height:770px;
            width:57%;
            border-radius: 1%;
        }
        .Survey1 table{
            font-family:Helvetica;
            text-align:center;
            margin-left:1%;
            font-size:25px;
            color:#00607A;
        }
        table tr th a{
            color: #00607A;
            text-decoration:none;
        }
    </style>
    <body>
        <div class="Header">
            <h1><i class="fa-solid fa-bars-progress"></i> Survey Management Portal </h1>
        </div>
        <div class="Survey1">
            <div class="questionair">
                <form action="{% url 'app2:survey2urls' %}" method='post'>
                    {% csrf_token %}
                    <table>
                        <tr align='left'>
                            <th><label for='Name'>Enter Your Name?&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="{% url 'app2:viewsurveyurls' %}">Back</a></label></th>
                        </tr>
                        <tr>
                            <td>   
                                <input type='text' id='Name' name='Name' style="height:30px;width:800px" placeholder='Enter your First Name'>
                            </td>
                        </tr>
                        <tr align='left'>
                            <th><label for='Havesmartphone'>Do you have a Smartphone?</label></th>
                        </tr>
                        <tr>
                            <td>   
                                <input type='text' id='Havesmartphone' name='Have_smartphone' style="height:30px;width:800px" placeholder='Yes or No '>
                            </td>
                        </tr>
                        <tr align='left'>
                            <th><label for='whichphone'>Which smartphone brand are you currently using?</label></th>
                        </tr>
                        <tr>
                            <td>   
                                <input type='text' id='whichphone' name='which_phone' style="height:30px;width:800px" placeholder='Apple Samsung Xiomi Vivo Nokia?'>
                            </td>
                        </tr>
                        <tr align='left'>
                            <th><label for='factors'>What are the factors that influence the purchase of your smartphone?</label></th>
                        </tr>
                        <tr>
                            <td>   
                                <input type='text' id='factors' name='factors_influence' style="height:30px;width:800px" placeholder='Factors While purchase?'>
                            </td>
                        </tr>
                        <tr align='left'>
                            <th><label for='rating'>How would you rate your smartphone?</label></th>
                        </tr>
                        <tr>
                            <td>   
                                <input type='Number' id='rating' name='rating_own_phone' style="height:30px;width:800px" placeholder='Rate your Phone 1-10?'>
                            </td>
                        </tr>
                        <tr align='left'>
                            <th><label for='describe'>How would you describe your current smartphone?</label></th>
                        </tr>
                        <tr>
                            <td>   
                                <input type='text' id='describe' name='describe_your_phone' style="height:30px;width:800px" placeholder='Describe?'>
                            </td>
                        </tr>
                        <tr align='left'>
                            <th><label for='concern'>What are Major Concern on your Current Smartphone?</label></th>
                        </tr>
                        <tr>
                            <td>   
                                <input type='text' id='concern' name='Mojor_concern' style="height:30px;width:800px" placeholder='Describe your Problem?'>
                            </td>
                        </tr>
                        <tr align='left'>
                            <th><label for='security'>How important are apps and app security?</label></th>
                        </tr>
                        <tr>
                            <td>   
                                <input type='Number' id='security' name='apps_security' style="height:30px;width:800px" placeholder='important 1-10 Rate?'>
                            </td>
                        </tr>
                        <tr align='left'>
                            <th><label for='iosorand'>Do you feel like buying the Ios over Android ?</label></th>
                        </tr>
                        <tr>
                            <td>   
                                <input type='text' id='iosorand' name='ios_android' style="height:30px;width:800px" placeholder='Ios or Android?'>
                            </td>
                        </tr>
                        <tr align='left'>
                            <th><label for='occupation'>What is your occupation?</label></th>
                        </tr>
                        <tr>
                            <td>   
                                <input type='text' id='occupation' name='occupation' style="height:30px;width:800px" placeholder='Student businessman Employees?'>
                            </td>
                        </tr>
                        <tr>
                            <td><input type='submit' value='Submit your Response?' style="height:40px;width:810px;background-color:#04AA6D;color:white"></td>
                        </tr>
                    </table>
            </div>
        </div>
    </body>
</html>